<ul class="cluster cluster--space-y-0">
	<li>
		<a class="button" href="https://twitter.com/_yuheiy">
			<span class="with-icon with-icon--space">
				<svg class="icon" viewBox="0 0 1 1"><use href="#icon-twitter"></svg>
				<span>Twitter</span>
			</span>
		</a>
	</li>
	<li>
		<a class="button" href="https://github.com/yuheiy">
			<span class="with-icon with-icon--space">
				<svg class="icon" viewBox="0 0 1 1"><use href="#icon-github"></svg>
				<span>GitHub</span>
			</span>
		</a>
	</li>
	<li>
		<a class="button" href="mailto:yuhei.yasuda1003@gmail.com">
			<span class="with-icon with-icon--space">
				<svg class="icon color-primary" viewBox="0 0 1 1"><use href="#icon-mail"></svg>
				<span>Eメール</span>
			</span>
		</a>
	</li>
</ul>
