<ul class="cluster gap-x-4" role="list">
	<li>
		<a class="button pt-2 pb-2" href="https://twitter.com/{{metadata.twitter}}">
			<span class="with-icon">
				<svg viewBox="0 0 1 1" width="1em" height="1em">
					<use href="#icon-twitter"/>
				</svg>
				Twitter
			</span>
		</a>
	</li>
	<li>
		<a class="button pt-2 pb-2" href="https://github.com/{{metadata.github}}">
			<span class="with-icon">
				<svg viewBox="0 0 1 1" width="1em" height="1em">
					<use href="#icon-github"/>
				</svg>
				GitHub
			</span>
		</a>
	</li>
	<li>
		<a class="button pt-2 pb-2" href="mailto:{{metadata.email}}">
			<span class="with-icon">
				<svg class="color-primary" viewBox="0 0 1 1" width="1em" height="1em">
					<use href="#icon-mail"/>
				</svg>
				Eメール
			</span>
		</a>
	</li>
</ul>
