{{#unless @first}}
<div class="mt-5"></div>
<div class="divider"></div>
<div class="mt-5"></div>
{{/unless}}
<div class="stack-1">
	{{#if meta}}
	<p class="text-sm color-text-muted">{{{meta}}}</p>
	{{/if}}
	<p class="text-lg leading-tight weight-bold palt">
		<a class="button pt-1 pb-1" href="{{link}}">
			<span class="with-icon with-icon--no-space">
				<span class="measure">{{title}}</span>
				<svg class="color-primary" viewBox="0 0 1 1" height="1em"><use href="#icon-chevron"></svg>
			</span>
		</a>
	</p>
	<p class="measure text-sm color-text-muted">{{description}}</p>
</div>
