{{> header}}

<main>
	<h1 class="simei cluster gap-x-2 mt-6 text-2xl">
		<ruby>
			安田
			<rp>（</rp><rt class="text-sm color-text-muted weight-regular">やすだ</rt><rp>）</rp>
		</ruby>
		<ruby>
			祐平
			<rp>（</rp><rt class="text-sm color-text-muted weight-regular">ゆうへい</rt><rp>）</rp>
		</ruby>
	</h1>

	<div class="stack-3 measure mt-3 text-lg color-text-muted">
		{{{content}}}
	</div>

	<section id="posts" aria-labelledby="posts-heading">
		<h2 id="posts-heading" class="mt-7 color-text-muted">おもな投稿</h2>
		<div class="stack-5 mt-5">
			{{#each posts}}
			{{#unless @first}}
			<div class="divider"></div>
			{{/unless}}
			{{> teaser level=3 title=this.title link=(prettyUrl this.link) description=this.description meta=this.provider}}
			{{/each}}
		</div>
	</section>

	<section id="projects" aria-labelledby="projects-heading">
		<h2 id="projects-heading" class="mt-7 color-text-muted">プロジェクト</h2>
		<div class="stack-5 mt-5">
			{{#each projects}}
			{{#unless @first}}
			<div class="divider"></div>
			{{/unless}}
			{{> teaser level=3 title=this.title link=(prettyUrl this.link) description=this.description}}
			{{/each}}
		</div>
	</section>
</main>

{{> footer}}
