{{> header}}

<main>
	<h1 class="simei cluster gap-x-2 mt-6 text-2xl">
		<ruby>安田<rp>（</rp><rt class="text-sm color-text-muted weight-regular">やすだ</rt><rp>）</rp></ruby>
		<ruby>祐平<rp>（</rp><rt class="text-sm color-text-muted weight-regular">ゆうへい</rt><rp>）</rp></ruby>
	</h1>

	<div class="stack-3 measure mt-3 text-lg color-text-muted">
		{{{content}}}
	</div>

	<section id="posts" aria-labelledby="posts-heading">
		<h2 id="posts-heading" class="mt-7 color-text-muted">おもな投稿</h2>
		<ol class="mt-5" role="list">
			{{#each posts}}
			<li>
				{{> teaser title=this.title link=(prettyUrl this.link) description=this.description meta=this.provider}}
			</li>
			{{/each}}
		</ol>
	</section>

	<section id="projects" aria-labelledby="projects-heading">
		<h2 id="projects-heading" class="mt-7 color-text-muted">プロジェクト</h2>
		<ul class="mt-5" role="list">
			{{#each projects}}
			<li>
				{{> teaser title=this.title link=(prettyUrl this.link) description=this.description}}
			</li>
			{{/each}}
		</ul>
	</section>
</main>

{{> footer}}
