---
layout: layouts/base
---

<main class="mt-xl">
	<div class="cluster cluster--space-x-lg cluster--space-y-xs justify-between">
		<h1 class="text-xl">投稿</h1>
		<p>
			<a class="button text-sm color-text-muted weight-bold" href="/posts-feed.xml">
				<span class="with-icon with-icon--space">
					<svg class="icon color-primary" viewBox="0 0 1 1"><use href="#icon-rss"></svg>
					<span>RSS</span>
				</span>
			</a>
		</p>
	</div>

	<div class="stack stack-space-lg mt-xl">
		{% assign posts = collections.post | reverse %}
		{% for post in posts %}
			{% assign url = post.url | prettyUrl %}
			{% assign published = post.data.published | timeTag %}
			{% include teaser with level: 2, title: post.data.title, url, description: post.data.description, meta: published %}
		{% endfor %}
	</div>
</main>
