{{> header}}

<main>
	<header class="cluster items-center gap-x-6 justify-between mt-6">
		<h1 class="text-xl">{{title}}</h1>
		<p class="text-sm color-text-muted weight-bold">
			<a class="button pt-2 pb-2" href="{{metadata.feed}}">
				<span class="with-icon">
					<svg class="color-primary" viewBox="0 0 1 1" width="1em" height="1em">
						<use href="#icon-rss"/>
					</svg>
					RSS
				</span>
			</a>
		</p>
	</header>

	<div class="stack-5 mt-6">
		{{#each (reverse collections.post)}}
		{{#unless @first}}
		<div class="divider"></div>
		{{/unless}}
		{{> teaser level=2 title=this.data.title link=(prettyUrl this.url) description=(lede templateContent) meta=(timeHtml this.data.published)}}
		{{/each}}
	</div>
</main>

{{> footer}}
