---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {%- for page in collections.all %}
        {% set absoluteUrl %}{{ page.url | url | prettyUrl | absoluteUrl(metadata.url) }}{% endset %}
        <url>
            <loc>{{ absoluteUrl }}</loc>
			{% if page.data.published %}<lastmod>{{ page.data.updated | default(page.data.published) }}</lastmod>{% endif %}
        </url>
    {%- endfor %}
</urlset>
